<script src="/public/js/header.js"></script>
<style>
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content{
    margin-top: 50px;
  }
  .menubar{
    box-shadow: 0px 1px 10px 2px #dfe3e6;
    z-index: 1;
    position: fixed;
    background-color: white;
    top:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height: 50px;
    border-bottom: solid 1px #dfe3e6;
  }
  .mb_middle a{
    transition-duration: 0.2s;
  }
  .mb_middle a:hover{
    transform: scale(1.1);
  }
  .mb_left{
    margin-left: 20px;
  }
  @media(min-width:800px){
    .mb_middle{
      display: flex !important;
      justify-content:space-around;
      width: 500px;
    }
    .mb_middle a{
      display: flex;
      cursor: pointer;
    }
  }
  .mb_middle{
    display: none;
  }

  .mb_right{
    display: flex;
    width: 130px;
    margin-right: 20px;
    justify-content: space-between;
  }
  .mb_right a{
    display: flex;
    font-family: "Montserrat", sans-sans-serif;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .mb_right_login{
    display:flex;
    flex-direction: row;
  }
  .alertmenu{
    margin-right: 20px;
    cursor: pointer;
  }
  .alert_count{
    margin-top:-3px;
    margin-right:-27px;
    text-align:center;
    font-size: 10px;
    z-index: 1;
    color: white;
    pointer-events: none;
    background-color: #de0581;
    border-radius: 7px 7px;
    height: 14px;
    width:15px;
  }
  .dropdown_btn{
    display: flex;
    font-size: 18px;
    margin-right: 20px;
  }
  .dropdown_btn img{
    cursor: pointer;
  }
  .dropdown_btn a{
    color: black;
    cursor: pointer;
  }
  .dropdown_btn a:hover{
    text-decoration: underline !important;
  }

  .alert_usermenu{
    left:400px;
    top:45px;
    width:400px;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe3e6;
    border-radius: 5px 5px;
    z-index: 2;
  }
  .alert_usermenu span{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .alerts{
    overflow-y: scroll;
    max-height:300px;
  }
  .alert_delete_all{
    padding:10px;
    background: white;
    display: flex;
    justify-content: flex-end;
  }
  .alert_delete_all a{
    font-size: 12px;
  }
  .au_dd_child{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
  }
  .au_dd_child:hover{
    background-color: #dfe3e6;
  }
  .alert_time{
    width:75px;
    color:gray;
    text-align:center;
  }
  .alert_text{
    width:300px;
    margin-left:10px;
    margin-right:10px;
  }
  .au_x{
    text-align: center;
    width:25px;
    margin-left:7px;
    transition-duration: 0.2s;
  }
  .au_x:hover{
    transform: scale(1.5);
  }
  .no_alert{
    background:white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-style: oblique;
  }
  .dropdown_usermenu{
    left:0px;
    top:45px;
    width:150px;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe3e6;
    border-radius: 5px 5px;
    z-index: 2;
  }
  .dd_child{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: white;
  }
  .dd_child:hover{
    background-color: #dfe3e6;
  }
  .dropdown_usermenu span{
    cursor:pointer;
    display: flex;
    justify-content: space-between;
  }
  .logout_img{
    margin-top:3px;
  }

  .a_basic{
    color: black !important;
    text-decoration: none !important;
  }
  .none{
    display: none !important;
  }
  .dot{
    color: gray;
    opacity: 50%;
  }
  .line{
    border-top: 1px solid #dfe3e6;
    width:100%;
  }
  .msg{
    opacity: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe3e6;
    position: fixed;
    left: 10px;
    top: calc(100% - 60px);
    z-index: 1;
    transition-duration: 0.7s;
    transition-delay: 2.5s;
  }
  .bold{
    font-weight: bold;
  }
  .lighter{
    font-weight: lighter;
  }
  .a_pointerAndunderline_black{
    color:black;
    cursor: pointer;
  }
  .a_pointerAndunderline_black:hover{
    color:black;
    text-decoration: underline;
  }
  .a_pointerAndunderline_red{
    color:red;
    cursor: pointer;
  }
  .a_pointerAndunderline_red:hover{
    color:red;
    text-decoration: underline;
  }
  .highlighted{
    background-color: yellow;
  }
  .align-center{
    text-align: center;
  }
  .cursor_pointer{
    cursor: pointer;
  }
  .pink{
    color: #de0581 !important;
  }
  .border_bold{
    border:2px solid;
  }
  .my_scroll::-webkit-scrollbar {
    width: 7px;
  }
  .my_scroll::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px 5px;
  }
  .my_scroll::-webkit-scrollbar-track {
    background-color: white;
  }
</style>
<div class="menubar">
  <span class="mb_left">
    <a href="/"> <img src="/public/images/classicalLogo.png" width="150px"></img> </a>
</span>

  <span class="mb_middle">
    <a class="a_basic" href="/post/index"> 전체글보기 </a>
    <a class="a_basic" href="/post/index?category=0"> 공지사항 </a>
    <a class="a_basic" href="/post/index?category=1"> 자유게시판 </a>
    <a class="a_basic" href="/post/index?category=2"> 음악공유 </a>
    <a class="a_basic" href="/post/index?category=3"> 공연정보 </a>
  </span>
  <% if(isAuthenticated){ %>
  <span class="mb_right_login" alertCount="<%=whoami.alerts.length%>">
    <% if(whoami.alerts&&whoami.alerts.length>0){ %>
    <a class="alert_count"><%=Math.min(whoami.alerts.length,99)%></a>
    <% } %>
    <span class="alertmenu">
      <span class="alert_btn">
        <img class="alert_btn_child" src="/public/images/alert.png" width="25px" height="25px">
      </span>
      <%if(whoami.alerts&&whoami.alerts.length>0){%>
        <%if(whoami.alertOn){%>
      <div class="alert_usermenu">
        <%whoami.alertOn=null;%>
        <%}else{%>
      <div class="alert_usermenu none">
        <%}%>
        <div class="alerts my_scroll">
          <%whoami.alerts.forEach(function(alert, i){%>
            <span class="au_dd_child">
              <% const today = new Date(); %>
              <% if(alert.createdAt.getFullYear()==today.getFullYear() && alert.createdAt.getMonth()==today.getMonth() && alert.createdAt.getDate()==today.getDate()) {%>
              <a class="alert_time a_basic"> <%= alert.createdAt.getHours()>=10? alert.createdAt.getHours():'0'+String(alert.createdAt.getHours())%>:<%= alert.createdAt.getMinutes()>=10?alert.createdAt.getMinutes():'0'+String(alert.createdAt.getMinutes())%> </a>
              <%} else { %>
              <a class="alert_time a_basic"> <%= alert.createdAt.getYear()-100 %>.<%= alert.createdAt.getMonth()+1>=10?alert.createdAt.getMonth()+1:'0'+String(alert.createdAt.getMonth()+1) %>.<%= alert.createdAt.getDate()>=10?alert.createdAt.getDate():'0'+String(alert.createdAt.getDate()) %> </a>
              <% } %>
              <% if(alert.post){ %>
              <a class="alert_text a_pointerAndunderline_black" href="/alert/view/<%=alert.post?alert.post._id:'D'%>" class="a_basic"><%=alert.post?alert.post.tltle:'삭제된 글입니다.'%> - <%=alert.from.isLeaved?'(탈퇴 회원)':alert.from.nickname%> | <%=alert.text%></a>
              <% }else{ %>
              <a class="alert_text a_pointerAndunderline_black" href="#" class="a_basic"><%=alert.text%></a>
              <% } %>
              <a href="/alert/delete/<%=alert._id%>" class="a_basic au_x">X</a>
            </span>
            <a class="line"></a>
          <%});%>
        </div>
        <div class="alert_delete_all">
          <a href="/alert/deleteall/<%=whoami.passport.user._id%>" class="a_pointerAndunderline_black">전체 삭제</a>
        </div>
      </div>
      <%}else{%>
        <div class="alert_usermenu none">
          <a class="no_alert a_basic"> 새로운 알림이 없습니다. </a>
        </div>
      <%}%>
    </span>

    <span class="usermenu">
      <span class="dropdown_btn">
        <img class="dropdown_btn_child" src="/public/images/user.png" width="25px" height="25px">
        </span>
      <div class="dropdown_usermenu none">
        <a href="/user/index/<%=whoami.passport.user.id%>" class="dd_child a_basic"> 내 정보 </a>
        <a class="line"></a>
        <a href="/user/edit/<%=whoami.passport.user.id%>" class="dd_child a_basic"> 정보수정 </a>
        <a class="line"></a>
        <span onclick="location.href='/logout'" class="dd_child a_basic">
          <a> 로그아웃 </a>
          <img class="logout_img" src="/public/images/logout.png" width="20px" height="20px">
        </span>
      </div>
    </span>
  </span>
  <% } else { %>
  <span class="mb_right">
      <a href="/login"> Login </a>
      <a class="dot"> | </a>
      <a href="/register"> Register </a>
  </span>
  <% } %>
</div>

<%if(whoami.error){%>
<a class="msg bg-warning a_basic"> <%=whoami.error.msg%> </a>
<%whoami.error=null%>
<%}%>
<%if(whoami.success){%>
<a class="msg bg-primary a_basic" style="color:white !important;"> <%=whoami.success.msg%> </a>
<%whoami.success=null%>
<%}%>
