<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/post/edit.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
        .content{
          background-color: #F8F8FF;
          width:100%;
          padding-top: 30px;
          padding-bottom: 60px;
        }
        @media(min-width:800px){
          .content{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        .newpost_area{
          background-color: white;
          width:800px;
          border: 1px solid #dfe3e6;
        }
        .newpost_header{
          padding-top: 40px;
          padding-left: 30px;
          padding-bottom: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .dd_np_btn{
          margin-left: 8px;
          font-size: 16px;
          color: gray;
          cursor: pointer;
        }
        .dd_np_btn:hover{
          color: #de0581;
        }
        .dd_np_post_type{
          left:0px;
          top:0px;
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 150px;
          border: 1px solid #dfe3e6;
          border-radius: 5px 5px;
        }
        .dd_np_child{
          padding-left: 15px;
          padding-top:5px;
          padding-bottom:5px;
          background-color: white;
        }
        .dd_np_child:hover{
          background-color: #dfe3e6;
        }

        .newpost_content{
          border-top: 1px solid #dfe3e6;
          padding-left:30px;
          padding-right:30px;
        }
        .np_title{
          margin-top: 30px;
        }
        .np_body{
          margin-top: 15px;
        }
        .editor_buttons{
          display: flex;
          justify-content:flex-start;
          border-top: 1px solid #dfe3e6;
          border-right: 1px solid #dfe3e6;
          border-left: 1px solid #dfe3e6;
        }
        .editor_buttons input{
          padding: 4px;
          background-color: white;
          height:33px;
          border-right: 1px solid #dfe3e6;
          border-top: 0px solid;
          border-bottom: 0px solid;
          border-left: 0px solid;
        }
        .editor_buttons input:focus{outline: none;}
        .size_button{
          width: 50px;
        }
        .dropdown_size{
          left:31px;
          top:323px;
          width:75px;
          position: absolute;
          display: flex;
          flex-direction: column;
          border: 1px solid #dfe3e6;
          border-radius: 5px 5px;
          z-index: 2;
        }
        .ds_child{
          font-size: 16px;
          padding-left: 15px;
          padding-top:5px;
          padding-bottom:5px;
          background-color: white;
        }
        .ds_child:hover{
          background-color: #dfe3e6;
        }
        .dropdown_size span{
          cursor:pointer;
          display: flex;
          justify-content: space-between;
        }

        .square_button{
          width:33px;
        }

        .BOLD{
          font-weight: bold;
        }
        .ITALIC{
          font-style: italic;
        }
        .UNDERLINE{
          text-decoration: underline;
        }
        .STRIKETHROUGH{
          text-decoration:line-through;
        }
        .input_title{
          padding-left: 15px;
          padding-top: 3px;
          padding-bottom: 3px;
          width: 100%;
          height: 46px;
          border: 1px solid #dfe3e6;
        }
        .input_title:focus{outline: none;}
        .input_body{
          padding-left: 15px;
          padding-top: 15px;
          width: 100%;
          min-height: 600px;
          border: 1px solid #dfe3e6;
        }
        .input_body:focus{outline: none;}

        .np_buttons{
          display: flex;
          justify-content:flex-end;
          padding-left: 30px;
          padding-right: 30px;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .np_buttons a:hover{
          text-decoration: underline !important;
        }
        .cancel_btn{
          width: 90px;
          height: 40px;
          border: 1px solid #dfe3e6;
          border-radius: 2px 2px;
          display:flex;
          justify-content: center;
          align-items: center;
        }
        .post_btn{
          margin-left: 15px;
          width: 90px;
          height: 40px;
          border: 1px solid #dfe3e6;
          border-radius: 2px 2px;
          display:flex;
          justify-content: center;
          align-items: center;
          color: white !important;
        }
        </style>
        <div class="newpost_area">
          <div class="newpost_header">
            <span>
              <h2> 글 수정 </h2>
            </span>
            <span class="dd_np_btn" init="<%=post.category%>">
              > default
            </span>
            <div class="dd_np_post_type none">
              <% if(whoami.passport&&whoami.passport.user.level>=1){ %>
              <a href="#" class="dd_np_child a_basic" var="0"> default </a>
              <a class="line"></a>
              <% } %>
              <a href="#" class="dd_np_child a_basic" var="1"> default </a>
              <a class="line"></a>
              <a href="#" class="dd_np_child a_basic" var="2"> default </a>
              <a class="line"></a>
              <a href="#" class="dd_np_child a_basic" var="3"> default </a>
            </div>
          </div>
          <div class="newpost_content">
            <div class="np_title">
              <input class="input_title" type="text" value="<%=post.title%>" placeholder="제목을 입력하세요.">
            </div>
            <div class="np_body">
              <div class="editor_buttons">
                <input type="button" class="SIZE size_button" title="글씨 크기" value="14 ∨"/>
                <div class="dropdown_size none">
                  <a href="#" class="ds_child a_basic">10</a>
                  <a href="#" class="ds_child a_basic">12</a>
                  <a href="#" class="ds_child a_basic pink">14</a>
                  <a href="#" class="ds_child a_basic">16</a>
                  <a href="#" class="ds_child a_basic">18</a>
                  <a href="#" class="ds_child a_basic">20</a>
                  <a href="#" class="ds_child a_basic">24</a>
                  <a href="#" class="ds_child a_basic">28</a>
                  <a href="#" class="ds_child a_basic">32</a>
                </div>

                <input type="button" class="BOLD square_button" value="B" title="굵게" onclick="document.execCommand('bold');$('.input_body').focus();"/>
                <input type="button" class="ITALIC square_button" value="T" title="기울이기" onclick="document.execCommand('Italic');$('.input_body').focus();"/>
                <input type="button" class="UNDERLINE square_button" value="U" title="밑줄" onclick="document.execCommand('Underline');$('.input_body').focus();"/>
                <input type="button" class="STRIKETHROUGH square_button" value="T" title="취소선" onclick="document.execCommand('StrikeThrough');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYLEFT square_button" src="/public/images/alignleft.png" title="왼쪽 정렬" onclick="document.execCommand('justifyleft');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYCENTER square_button" src="/public/images/aligncenter.png" title="가운데 정렬" onclick="document.execCommand('justifycenter');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYRIGHT square_button" src="/public/images/alignright.png" title="오른쪽 정렬" onclick="document.execCommand('justifyright');$('.input_body').focus();"/>
              </div>
              <div>
                <div class="input_body" contenteditable="true" onkeyup="document.getSelection()"><%-post.body%></div>
              </div>
            </div>
          </div>
          <div class="newpost_footer">
            <div class="np_buttons">
              <a href="#" class="a_basic cancel_btn"> 취소 </a>
              <a href="#" class="a_basic post_btn bg-dark"> 등록 </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
