<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/post/edit.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
        @media (min-device-width: 768px){
          .content{
            background-color: #F8F8FF;
            width:100%;
            padding-top: 30px;
            padding-bottom: 60px;
          }
          @media(min-width:800px){
            .content{
              display: flex;
              flex-direction: column;
              align-items: center;
            }
          }
          .newpost_area{
            background-color: white;
            width:800px;
            border: 1px solid #dfe3e6;
          }
          .newpost_header{
            padding-top: 40px;
            padding-left: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .editpost_title{
            font-size:32px;
          }
          .dd_np_btn{
            margin-left: 8px;
            font-size: 16px;
            color: gray;
            cursor: pointer;
          }
          .dd_np_btn:hover{
            color: #de0581;
          }
          .dd_np_post_type{
            left:0px;
            top:0px;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 150px;
            border: 1px solid #dfe3e6;
            border-radius: 5px 5px;
          }
          .dd_np_child{
            padding-left: 15px;
            padding-top:5px;
            padding-bottom:5px;
            background-color: white;
          }
          .dd_np_child:hover{
            background-color: #dfe3e6;
          }

          .newpost_content{
            border-top: 1px solid #dfe3e6;
            padding-left:30px;
            padding-right:30px;
          }
          .np_title{
            margin-top: 30px;
          }
          .np_body{
            margin-top: 15px;
          }
          .editor_buttons{
            display: flex;
            justify-content:flex-start;
            border-top: 1px solid #dfe3e6;
            border-right: 1px solid #dfe3e6;
            border-left: 1px solid #dfe3e6;
          }
          .editor_buttons input{
            padding: 4px;
            background-color: white;
            height:33px;
            border-right: 1px solid #dfe3e6;
            border-top: 0px solid;
            border-bottom: 0px solid;
            border-left: 0px solid;
          }
          .editor_buttons input:focus{outline: none;}
          .size_button{
            width: 50px;
          }
          .dropdown_size{
            left:31px;
            top:323px;
            width:75px;
            position: absolute;
            display: flex;
            flex-direction: column;
            border: 1px solid #dfe3e6;
            border-radius: 5px 5px;
          }
          .ds_child{
            font-size: 16px;
            padding-left: 15px;
            padding-top:5px;
            padding-bottom:5px;
            background-color: white;
          }
          .ds_child:hover{
            background-color: #dfe3e6;
          }
          .dropdown_size span{
            cursor:pointer;
            display: flex;
            justify-content: space-between;
          }

          .square_button{
            width:33px;
          }

          .BOLD{
            font-weight: bold;
          }
          .ITALIC{
            font-style: italic;
          }
          .UNDERLINE{
            text-decoration: underline;
          }
          .STRIKETHROUGH{
            text-decoration:line-through;
          }

          .dropdown_color{
            left:100px;
            top:323px;
            display: flex;
            flex-direction: column;
            position: absolute;
            border: 1px solid #dfe3e6;
          }
          .colors{
            display: flex;
            flex-direction: row;
          }
          .color_line{
            display: flex;
            flex-direction: column;
          }
          .dc_child{
            width:20px;
            height:20px;
            background-color: black;
          }
          .dc_child:hover{
            background-color: #dfe3e6;
          }

          .input_title{
            padding-left: 15px;
            padding-top: 3px;
            padding-bottom: 3px;
            width: 100%;
            height: 46px;
            border: 1px solid #dfe3e6;
          }
          .input_title:focus{outline: none;}
          .input_body{
            padding-left: 15px;
            padding-top: 15px;
            width: 100%;
            overflow-y: scroll;
            min-height: 300px;
            height: 500px;
            resize: vertical;
            border: 1px solid #dfe3e6;
            font-size:14px;
          }
          .input_body:focus{outline: none;}
          .input_body pre{
            white-space: pre-wrap;
            overflow:hidden;
          }

          .np_buttons{
            display: flex;
            justify-content:flex-end;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: 15px;
            margin-bottom: 15px;
          }
          .np_buttons a:hover{
            text-decoration: underline !important;
          }
          .cancel_btn{
            width: 90px;
            height: 40px;
            border: 1px solid #dfe3e6;
            border-radius: 2px 2px;
            display:flex;
            justify-content: center;
            align-items: center;
          }
          .post_btn{
            margin-left: 15px;
            width: 90px;
            height: 40px;
            border: 1px solid #dfe3e6;
            border-radius: 2px 2px;
            display:flex;
            justify-content: center;
            align-items: center;
            color: white !important;
          }
          font[size='1']{
              font-size: 8px;
          }
          font[size='2']{
              font-size: 12px;
          }
          font[size='3']{
              font-size: 16px;
          }
          font[size='4']{
              font-size: 20px;
          }
          font[size='5']{
              font-size: 24px;
          }
          font[size='6']{
              font-size: 28px;
          }
          font[size='7']{
              font-size: 32px;
          }
        }

        @media (max-device-width: 768px){
          .content{
            background-color: #F8F8FF;
            width:100%;
            padding-top: 30px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .newpost_area{
            background-color: white;
            width:100%;
            margin-top: 60px;
            border: 1px solid #dfe3e6;
          }
          .newpost_header{
            padding-top: 45px;
            padding-left: 45px;
            padding-bottom: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
          .editpost_title{
            font-size:60px;
          }
          .dd_np_btn{
            margin-left: 16px;
            font-size: 32px;
            color: gray;
            cursor: pointer;
          }
          .dd_np_btn:hover{
            color: #de0581;
          }
          .dd_np_post_type{
            margin-top:20px;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 300px;
            border: 1px solid #dfe3e6;
            border-radius: 10px 10px;
          }
          .dd_np_child{
            padding-left: 30px;
            padding-top:15px;
            padding-bottom:15px;
            background-color: white;
            font-size: 40px;
          }
          .dd_np_child:hover{
            background-color: #dfe3e6;
          }

          .newpost_content{
            border-top: 3px solid #dfe3e6;
            padding-left:30px;
            padding-right:30px;
          }
          .np_title{
            margin-top: 60px;
          }
          .np_body{
            margin-top: 30px;
          }
          .editor_buttons{
            display: none;
          }

          .input_title{
            padding-left: 30px;
            padding-top: 6px;
            padding-bottom: 6px;
            width: 100%;
            height: 92px;
            border: 1px solid #dfe3e6;
            font-size: 32px;
          }
          .input_title:focus{outline: none;}
          .input_body{
            padding-left: 30px;
            padding-top: 30px;
            width: 100%;
            overflow-y: scroll;
            min-height: 600px;
            height: 1000px;
            resize: vertical;
            border: 1px solid #dfe3e6;
            font-size:32px;
          }
          .input_body:focus{outline: none;}
          .input_body pre{
            white-space: pre-wrap;
            overflow:hidden;
          }

          .np_buttons{
            display: flex;
            justify-content:flex-end;
            padding-left: 60px;
            padding-right: 60px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .np_buttons a:hover{
            text-decoration: underline !important;
          }
          .cancel_btn{
            width: 180px;
            height: 80px;
            border: 1px solid #dfe3e6;
            border-radius: 4px 4px;
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
          }
          .post_btn{
            margin-left: 30px;
            width: 180px;
            height: 80px;
            border: 1px solid #dfe3e6;
            border-radius: 4px 4px;
            display:flex;
            justify-content: center;
            align-items: center;
            color: white !important;
            font-size: 32px;
          }
        }
        </style>
        <div class="newpost_area">
          <div class="newpost_header">
            <span>
              <a class="a_basic editpost_title"> 글 수정 </a>
            </span>
            <span class="dd_np_btn" init="<%=post.category%>">
              > default
            </span>
            <div class="dd_np_post_type none">
              <% if(whoami.passport&&whoami.passport.user.level>=1){ %>
              <a href="#" class="dd_np_child a_basic" var="0"> default </a>
              <a class="line"></a>
              <% } %>
              <a href="#" class="dd_np_child a_basic" var="1"> default </a>
              <a class="line"></a>
              <a href="#" class="dd_np_child a_basic" var="2"> default </a>
              <a class="line"></a>
              <a href="#" class="dd_np_child a_basic" var="3"> default </a>
            </div>
          </div>
          <div class="newpost_content">
            <div class="np_title">
              <input class="input_title" type="text" value="<%=post.title%>" placeholder="제목을 입력하세요.">
            </div>
            <div class="np_body">
              <div class="editor_buttons">
                <input type="button" class="SIZE size_button" title="글씨 크기" value="16 ∨"/>
                <div class="dropdown_size none">
                  <a href="#" class="ds_child a_basic" onclick='document.execCommand("fontSize", false, "1");$(".input_body").focus();'>8</a>
                  <a href="#" class="ds_child a_basic"  onclick='document.execCommand("fontSize", false, "2");$(".input_body").focus();'>12</a>
                  <a href="#" class="ds_child a_basic pink"  onclick='document.execCommand("fontSize", false, "3");$(".input_body").focus();'>16</a>
                  <a href="#" class="ds_child a_basic"  onclick='document.execCommand("fontSize", false, "4");$(".input_body").focus();'>20</a>
                  <a href="#" class="ds_child a_basic"  onclick='document.execCommand("fontSize", false, "5");$(".input_body").focus();'>24</a>
                  <a href="#" class="ds_child a_basic"  onclick='document.execCommand("fontSize", false, "6");$(".input_body").focus();'>28</a>
                  <a href="#" class="ds_child a_basic"  onclick='document.execCommand("fontSize", false, "7");$(".input_body").focus();'>32</a>
                </div>

                <input type="button" class="BOLD square_button" value="B" title="굵게" onclick="document.execCommand('bold');$('.input_body').focus();"/>
                <input type="button" class="ITALIC square_button" value="T" title="기울이기" onclick="document.execCommand('Italic');$('.input_body').focus();"/>
                <input type="button" class="UNDERLINE square_button" value="U" title="밑줄" onclick="document.execCommand('Underline');$('.input_body').focus();"/>
                <input type="button" class="STRIKETHROUGH square_button" value="T" title="취소선" onclick="document.execCommand('StrikeThrough');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYLEFT square_button" src="/public/images/alignleft.png" title="왼쪽 정렬" onclick="document.execCommand('justifyleft');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYCENTER square_button" src="/public/images/aligncenter.png" title="가운데 정렬" onclick="document.execCommand('justifycenter');$('.input_body').focus();"/>
                <input type="image" class="JUSTIFYRIGHT square_button" src="/public/images/alignright.png" title="오른쪽 정렬" onclick="document.execCommand('justifyright');$('.input_body').focus();"/>
                <input type="image" class="square_button color_btn" src="/public/images/rgb.png" title="글씨 색"/>
                <div class="dropdown_color none">
                  <div class="colors">
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#ffffff;" onclick='document.execCommand("foreColor", false, "#ffffff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#e2e2e2;" onclick='document.execCommand("foreColor", false, "#e2e2e2");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#9c9c9c;" onclick='document.execCommand("foreColor", false, "#9c9c9c");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#777777;" onclick='document.execCommand("foreColor", false, "#777777");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#333333;" onclick='document.execCommand("foreColor", false, "#333333");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#000000;" onclick='document.execCommand("foreColor", false, "#000000");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#ffcdc0;" onclick='document.execCommand("foreColor", false, "#ffcdc0");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ffad98;" onclick='document.execCommand("foreColor", false, "#ffad98");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff5f45;" onclick='document.execCommand("foreColor", false, "#ff5f45");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff0010;" onclick='document.execCommand("foreColor", false, "#ff0010");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ba0000;" onclick='document.execCommand("foreColor", false, "#ba0000");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#700001;" onclick='document.execCommand("foreColor", false, "#700001");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#ffe3c8;" onclick='document.execCommand("foreColor", false, "#ffe3c8");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ffd1a4;" onclick='document.execCommand("foreColor", false, "#ffd1a4");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ffa94f;" onclick='document.execCommand("foreColor", false, "#ffa94f");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff9300;" onclick='document.execCommand("foreColor", false, "#ff9300");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#b85c00;" onclick='document.execCommand("foreColor", false, "#b85c00");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#823f00;" onclick='document.execCommand("foreColor", false, "#823f00");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#fff8b2;" onclick='document.execCommand("foreColor", false, "#fff8b2");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#fff593;" onclick='document.execCommand("foreColor", false, "#fff593");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ffef34;" onclick='document.execCommand("foreColor", false, "#ffef34");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ffd300;" onclick='document.execCommand("foreColor", false, "#ffd300");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ac9a00;" onclick='document.execCommand("foreColor", false, "#ac9a00");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#6a5f00;" onclick='document.execCommand("foreColor", false, "#6a5f00");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#e3fdc8;" onclick='document.execCommand("foreColor", false, "#e3fdc8");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#badf98;" onclick='document.execCommand("foreColor", false, "#badf98");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#98d36c;" onclick='document.execCommand("foreColor", false, "#98d36c");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#54b800;" onclick='document.execCommand("foreColor", false, "#54b800");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#36851e;" onclick='document.execCommand("foreColor", false, "#36851e");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#245b12;" onclick='document.execCommand("foreColor", false, "#245b12");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#c2f4db;" onclick='document.execCommand("foreColor", false, "#c2f4db");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#3fcc9c;" onclick='document.execCommand("foreColor", false, "#3fcc9c");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00b976;" onclick='document.execCommand("foreColor", false, "#00b976");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00a84b;" onclick='document.execCommand("foreColor", false, "#00a84b");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#007433;" onclick='document.execCommand("foreColor", false, "#007433");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#245b12;" onclick='document.execCommand("foreColor", false, "#245b12");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#bdfbfa;" onclick='document.execCommand("foreColor", false, "#bdfbfa");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#15d0ca;" onclick='document.execCommand("foreColor", false, "#15d0ca");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00bfb5;" onclick='document.execCommand("foreColor", false, "#00bfb5");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#009d91;" onclick='document.execCommand("foreColor", false, "#009d91");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00756a;" onclick='document.execCommand("foreColor", false, "#00756a");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00554c;" onclick='document.execCommand("foreColor", false, "#00554c");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#b0f1ff;" onclick='document.execCommand("foreColor", false, "#b0f1ff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#28e1ff;" onclick='document.execCommand("foreColor", false, "#28e1ff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00cdff;" onclick='document.execCommand("foreColor", false, "#00cdff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#00b3f2;" onclick='document.execCommand("foreColor", false, "#00b3f2");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#007aa6;" onclick='document.execCommand("foreColor", false, "#007aa6");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#004e6a;" onclick='document.execCommand("foreColor", false, "#004e6a");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#9bdfff;" onclick='document.execCommand("foreColor", false, "#9bdfff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#5bc7ff;" onclick='document.execCommand("foreColor", false, "#5bc7ff");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#0095e9;" onclick='document.execCommand("foreColor", false, "#0095e9");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#0078cb;" onclick='document.execCommand("foreColor", false, "#0078cb");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#004e82;" onclick='document.execCommand("foreColor", false, "#004e82");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#003960;" onclick='document.execCommand("foreColor", false, "#003960");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#fdd5f5;" onclick='document.execCommand("foreColor", false, "#fdd5f5");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#cd8bc0;" onclick='document.execCommand("foreColor", false, "#cd8bc0");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#bc61ab;" onclick='document.execCommand("foreColor", false, "#bc61ab");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#aa1f91;" onclick='document.execCommand("foreColor", false, "#aa1f91");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#740060;" onclick='document.execCommand("foreColor", false, "#740060");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#4f0041;" onclick='document.execCommand("foreColor", false, "#4f0041");$(".input_body").focus();'></a>
                    </div>
                    <div class="color_line">
                      <a href="#" class="dc_child a_basic" style="background-color:#ffb7de;" onclick='document.execCommand("foreColor", false, "#ffb7de");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff97c1;" onclick='document.execCommand("foreColor", false, "#ff97c1");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff65a8;" onclick='document.execCommand("foreColor", false, "#ff65a8");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#ff008c;" onclick='document.execCommand("foreColor", false, "#ff008c");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#bb005c;" onclick='document.execCommand("foreColor", false, "#bb005c");$(".input_body").focus();'></a>
                      <a href="#" class="dc_child a_basic" style="background-color:#830041;" onclick='document.execCommand("foreColor", false, "#830041");$(".input_body").focus();'></a>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="input_body my_scroll" contenteditable="true" onkeyup="document.getSelection()"><%-post.body%></div>
              </div>
            </div>
          </div>
          <div class="newpost_footer">
            <div class="np_buttons">
              <a href="#" class="a_basic cancel_btn"> 취소 </a>
              <a href="#" class="a_basic post_btn bg-dark"> 등록 </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
