<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/user/edit.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          .content{
            display:flex;
            align-items: center;
            flex-direction: column;
            background-color: #F8F8FF;
            width:100%;
          }
          .edit_area{
            background-color: white;
            margin-top: 70px;
            margin-bottom: 70px;
            padding-bottom: 20px;
            width:500px;
            border: 1px solid #dfe3e6;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .edit_title{
            margin-top: 40px;
            letter-spacing: 10px;
          }
          .edit_form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
          }
          .input_area{
            display: flex;
            flex-direction: column;
          }
          .edit_area input{
            border: 1px solid #dfe3e6;
            border-radius: 0px;
            width: 300px;
            height: 50px;
            font-size: 18px;
            margin-bottom: 20px;
            padding-left:10px;
          }
          .error{
            text-decoration: none !important;
            font-size: 12px;
            color: red !important;
            margin-top: -10px;
            margin-bottom: 10px;
            display: flex;
            width: 300px;
          }
          .pw_edit_area{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-top:-10px;
            margin-bottom:30px;
            font-size: 13px;
          }
          .pw_edit_area a{
            color: gray !important;
          }
          .access_error{
            color: black !important;
            font-size: 16px !important;
            margin-bottom: 20px !important;
          }
          .btn_edit{
            color: white;
            font-size: 20px !important;
          }
        </style>
        <div class="edit_area">
          <h1 class="edit_title"> 회원정보수정 <h1>
          <div class="edit_form">
            <% if(user) {%>
            <div class="userid" var="<%=user.id%>"></div>
            <div class="input_area">
              <h5 class="input_info"> 닉네임 </h5>
              <input type="text" id="nickname" value="<%= user.nickname %>" placeholder="닉네임">

              <% if (errors.nickname){ %>
              <a class="error nickname_error"> <%=errors.nickname%> </a>
              <% } %>
              <a class="error nickname_error none"> default </a>
            </div>
            <div class="input_area">
              <h5 class="input_info"> 이메일 </h5>
              <input type="text" id="email" value="<%= user.email %>" placeholder="이메일">
              <a class="error email_error none"> default </a>
            </div>
            <div class="pw_edit_area">
              <a href="/user/pw/<%=user.id%>"> 비밀번호 변경 </a>
            </div>
            <input type="button" title="수정하기" alt="수정하기" value="수정하기" class="btn_edit bg-dark">
            <%}else{%>
            <a class="access_error"> 이런 일은 벌어질 수 없어. </a>
            <%}%>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
