<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/user/edit.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          @media (min-device-width: 768px){
            .content{
              display:flex;
              align-items: center;
              flex-direction: column;
              background-color: #F8F8FF;
              width:100%;
            }
            .edit_area{
              box-shadow: 0px 1px 10px 1px #dfe3e6;
              background-color: white;
              margin-top: 70px;
              margin-bottom: 70px;
              padding-bottom: 20px;
              width:500px;
              border: 1px solid #dfe3e6;
              display: flex;
              align-items: center;
              flex-direction: column;
            }
            .edit_title{
              margin-top: 40px;
              letter-spacing: 10px;
              font-size: 40px;
            }
            .edit_form{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 20px;
            }
            .input_area{
              display: flex;
              flex-direction: column;
            }
            .input_info{
              font-size:20px;
              margin-top: -10px;
              margin-bottom: 10px;
            }
            .edit_area input{
              border: 1px solid #dfe3e6;
              border-radius: 0px;
              width: 300px;
              height: 50px;
              font-size: 18px;
              margin-bottom: 20px;
              padding-left:10px;
            }
            .error{
              text-decoration: none !important;
              font-size: 12px;
              color: red !important;
              margin-top: -10px;
              margin-bottom: 10px;
              display: flex;
              width: 300px;
            }
            .edit_footer{
              display: flex;
              justify-content: space-around;
              width: 200px;
              margin-top:0px;
              margin-bottom:15px;
              font-size: 13px;
            }
            .edit_footer a{
              color: gray !important;
            }
            .access_error{
              color: black !important;
              font-size: 16px !important;
              margin-bottom: 20px !important;
            }
            .btn_edit{
              color: white;
              font-size: 20px !important;
            }
          }

          @media (max-device-width: 768px){
            .content{
              display:flex;
              align-items: center;
              flex-direction: column;
              background-color: #F8F8FF;
              width:100%;
            }
            .edit_area{
              box-shadow: 0px 1px 10px 1px #dfe3e6;
              background-color: white;
              margin-top: 200px;
              margin-bottom: 200px;
              padding-bottom: 100px;
              width:800px;
              border: 1px solid #dfe3e6;
              display: flex;
              align-items: center;
              flex-direction: column;
            }
            .edit_title{
              margin-top: 80px;
              letter-spacing: 10px;
              font-size: 72px;
            }
            .edit_form{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 40px;
            }
            .input_area{
              display: flex;
              flex-direction: column;
            }
            .input_info{
              font-size:40px;
              margin-bottom: 20px;
            }
            .edit_area input{
              border: 1px solid #dfe3e6;
              border-radius: 0px;
              width: 600px;
              height: 100px;
              font-size: 40px;
              margin-bottom: 40px;
              padding-left:20px;
            }
            .error{
              text-decoration: none !important;
              font-size: 24px;
              color: red !important;
              margin-top: -20px;
              margin-bottom: 20px;
              display: flex;
              width: 600px;
            }
            .edit_footer{
              display: flex;
              justify-content: space-around;
              width: 600px;
            }
            .edit_footer a{
              color: gray !important;
              font-size: 32px;
            }
            .access_error{
              color: black !important;
              font-size: 32px !important;
              margin-bottom: 40px !important;
            }
            .btn_edit{
              color: white;
              font-size: 40px !important;
            }
          }
        </style>
        <div class="edit_area">
          <a class="edit_title a_basic"> 회원정보수정 <a>
          <div class="edit_form">
            <% if(user) {%>
            <div class="userid" var="<%=user.id%>"></div>
            <div class="input_area">
              <a class="input_info a_basic"> 닉네임 </a>
              <input type="text" id="nickname" value="<%= user.nickname %>" placeholder="닉네임">

              <% if (errors.nickname){ %>
              <a class="error nickname_overlap"> <%=errors.nickname%> </a>
              <% } %>
              <a class="error nickname_error none"> default </a>
            </div>
            <input type="button" title="수정하기" alt="수정하기" value="수정하기" class="btn_edit bg-dark">
            <div class="edit_footer">
              <a href="/user/pw/<%=user.id%>"> 비밀번호 변경 </a>
              <a class="dot"> / </a>
              <a href="/user/leave/<%=user.id%>"> 회원 탈퇴 </a>
            </div>
            <%}else{%>
            <a class="access_error"> 이런 일은 벌어질 수 없어. </a>
            <%}%>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
