<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/user/index.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          .content{
            display:flex;
            align-items: center;
            flex-direction: column;
            background-color: #F8F8FF;
            width:100%;
          }
          .index_area{
            background-color: white;
            margin-top: 20px;
            margin-bottom: 70px;
            padding-bottom: 20px;
            width:800px;
            border: 1px solid #dfe3e6;
            display: flex;
            flex-direction: column;
          }
          .index_title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 10px;
          }
          .index_title h1{
            letter-spacing: 2px;
          }
          .img_setting{
            margin-right: 20px;
            margin-top: 7px;
          }

          .user_profile{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
          }
          .up_text{
            margin-left: 30px;
          }
          .up_nickname:hover{
            color: #de0581;
            cursor: pointer;
          }
          .up_id_and_email{
            cursor: pointer;
            margin-left: 5px;
            margin-top: -3px;
            color: gray;
          }

          .user_index{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
          }
          .ui_type{
            margin-top: 10px;
            border-top: 1px solid #dfe3e6;
          }
          .ui_type_title{
            margin-top:30px;
            margin-left: 30px;
          }

          .ui_type table{
            margin-top: 30px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
          }
          #PostTableTitle{
            border-top: 1px solid #dfe3e6;
            border-bottom: 1px solid #dfe3e6;
            background-color: #f7f9fa;
          }
          #PostTableTitle th{
            padding-top: 10px;
            padding-bottom: 10px;
          }
          #PostTableTitle a{
            font-size:14px;
            font-weight: normal;
          }
          .post_title{
            padding-left: 150px;
          }

          #PostTableContent{
            border-bottom: 1px solid #dfe3e6;
          }
          #PostTableContent th{
            padding-top: 10px;
            padding-bottom: 10px;
          }
          #PostTableContent a{
            font-weight: normal;
          }
          .post_table_category{
            margin-left: 10px;
            font-size: 12px;
            color: black;
          }
          .post_table_category:hover{
            color: black;
            text-decoration: none;
          }

          .ui_post_footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #dfe3e6;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 90px;
          }
          #page_naviagtion{
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
          #page_naviagtion a{
            margin-left: 10px;
            margin-right: 10px;
            color: black;
          }
          .pn_prev_btn{
            display: flex;
            flex-direction: row;
            cursor: pointer;
          }
          .pn_prev_btn h4{
            margin-top:-5px;
          }
          .pn_next_btn{
            display: flex;
            flex-direction: row;
            cursor: pointer;
          }
          .pn_next_btn h4{
            margin-top:-5px;
          }
          .pn_number_active{
            border: 1px solid #dfe3e6;
            color: #de0581 !important;
            padding-left: 7px;
            padding-right: 7px;
            height: 28px;
            margin-left:3 !important;
            margin-right:3 !important;
          }

          .access_error{
            color: black !important;
            font-size: 16px !important;
          }
        </style>
        <div class="index_area">
          <div class="index_title">
            <h3> 회원정보 </h3>
            <% if(user && whoami.passport){%>
              <% if(user.id==whoami.passport.user.id){ %>
            <a href="/user/edit/<%=whoami.passport.user.id%>">
              <img class="img_setting" src="/public/images/setting.png" width="20px" height="20px">
            </a>
              <% } %>
            <% } %>
          </div>
          <a class="line"></a>
          <div class="index_form">
            <% if(user) {%>
            <div class="user_profile">
              <span class="up_img">
                <img src="/public/images/user_gray.png" width="150px" height="150px">
              </span>
              <span class="up_text">
                <h1 class="up_nickname"> <%=user.nickname%> </h1>
                <h5 class="up_id_and_email"> <%=user.id%> / <%=user.email%> </h5>
              </span>
            </div>
            <div class="user_index">
              <div class="ui_type">
                <div class="ui_post_header">
                  <h4 class="ui_type_title"> 게시글 <%=postcount%> </h4>
                </div>
                <div class="ui_post_content">
                  <table>
                    <colgroup>
                      <col style="width:100px">
                      <col style="width:400px">
                      <col style="width:100px">
                      <col style="width:80px">
                      <col style="width:80px">
                    </colgroup>
                    <thead>
                      <tr id="PostTableTitle">
                        <th scope="col">
                        </th>
                        <th scope="col" class="post_title">
                          <a> 제목 </a>
                        </th>
                        <th scope="col" class="post_createdAt align-center">
                          <a> 작성일 </a>
                        </th>
                        <th scope="col" class="post_view align-center">
                          <a> 조회수 </a>
                        </th>
                        <th scope="col" class="post_like align-center">
                          <a> 좋아요 </a>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <% posts.forEach(function(post){ %>
                        <tr id="PostTableContent">
                          <th>
                            <a class="post_table_category"><%=post.category%></a>
                          </th>
                          <th>
                            <a href="/post/view/<%=post._id%>" class="a_pointerAndunderline_black"> <%=post.title%> </a>
                            <a href="/post/view/<%=post._id%>" class="a_pointerAndunderline_red"> [0] </a>
                          </th>
                          <th class="post_table_time align-center">
                            <!-- Today's Post -->
                            <% const today = new Date(); %>
                            <% if(post.createdAt.getFullYear()==today.getFullYear() && post.createdAt.getMonth()==today.getMonth() && post.createdAt.getDate()==today.getDate()) {%>
                            <a> <%= post.createdAt.getHours()>=10? post.createdAt.getHours():'0'+post.createdAt.getHours()%>:<%= post.createdAt.getMinutes()>=10?post.createdAt.getMinutes():'0'+post.createdAt.getMinutes()%> </a>
                            <%} else { %>
                            <a> <%= post.createdAt.getYear()-100 %>.<%= post.createdAt.getMonth()+1>=10?post.createdAt.getMonth()+1:'0'+post.createdAt.getMonth()+1 %>.<%= post.createdAt.getDate()>=10?post.createdAt.getDate():'0'+post.createdAt.getDate() %> </a>
                            <% } %>
                          </th>
                          <th class="align-center">
                            <a> <%=post.view%> </a>
                          </th>
                          <th class="align-center">
                            <a> <%=post.like%> </a>
                          </th>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <div class="ui_post_footer">
                  <div id="page_naviagtion">
                    <%
                      var offset = 10;
                      var startpage = (Math.floor((postcurrentPage-1)/offset))*offset+1;
                      var previousBtnEnabled = startpage>1;
                      var nextBtnEnabled = postmaxPage>startpage+offset-1 && postcurrentPage<startpage+offset;
                    %>
                    <span class="pn_prev_btn <%=previousBtnEnabled?'':'none'%>" onclick="location.href='/user/index/<%=user.id+getPostQueryString(false, {postpage:startpage-1})%>'">
                      <h4> < </h4>
                      <a class="a_pointerAndunderline_black"> 이전 </a>
                    </span>
                    <% for(i=startpage;i<=Math.min(startpage+offset-1, postmaxPage);i++){%>
                    <a class="pn_number a_pointerAndunderline_black" href='/user/index/<%=user.id+getPostQueryString(false, {postpage:i})%>'><%=i%></a>
                    <%}%>
                    <span class="pn_next_btn <%=nextBtnEnabled?'':'none'%>" onclick="location.href='/user/index/<%=user.id+getPostQueryString(false, {postpage:startpage+offset})%>'">
                      <a class="a_pointerAndunderline_black"> 다음 </a>
                      <h4> > </h4>
                    </span>
                  </div>
                </div>

              </div>
              <div class="ui_type">
                <h4 class="ui_type_title"> 댓글 152 </h4>

              </div>
            </div>
            <%}else{%>
            <a class="access_error a_basic"> 이런 일이 벌어질 리 없어 </a>
            <%}%>
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
        <a id="user_info" userId="<%=user.id%>"></a>
        <a id="post_info" postcurrentPage="<%=postcurrentPage%>"><%=postcount%></a>
      </div>
    </div>
  </body>
</html>
