<html>
  <head>
    <%- include('../partials/head') %>
    <script src="/public/js/login/findid.js"></script>
  </head>

  <body>
    <div class="wrap">
      <div class="header">
        <%- include('../partials/header') %>
      </div>
      <div class="content">
        <style>
          .content{
            display:flex;
            align-items: center;
            flex-direction: column;
          }
          .content{
            background-color: #F8F8FF;
            width:100%;
          }
          .find_area{
            background-color: white;
            margin-top: 70px;
            margin-bottom: 70px;
            width:500px;
            border: 1px solid #dfe3e6;
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          .find_title{
            margin-top: 40px;
            letter-spacing: 10px;
          }
          .find_form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom:30px;
          }
          .find_area input{
            border: 1px solid #dfe3e6;
            border-radius: 0px;
            width: 300px;
            height: 50px;
            font-size: 18px;
            margin-bottom: 20px;
            padding-left: 10px;
          }
          .error{
            text-decoration: none !important;
            font-size: 12px;
            color: red !important;
            margin-top: -10px;
            margin-bottom: 10px;
            display: flex;
            width: 300px;
          }
          .btn_find{
            color: white;
            font-size: 20px !important;
          }
          .redline{
            border-color: red !important;
          }
        </style>

        <div class="find_area">
          <h1 class="find_title"> 아이디찾기 <h1>
          <div class="find_form">
            <div class="input_area">
              <h5 class="input_info"> 이메일 </h5>
              <input class="input_email" value="<%=email%>" type="text" name="email" id="email" placeholder="이메일">
              <a class="error email_error none"> default </a>
              <% if(errors.email){ %>
                <a class="error email_notfound"><%=errors.email.message %></a>
              <% } %>
            </div>
            <input type="submit" title="입력하기" alt="입력하기" value="입력하기" class="btn_find bg-dark" onclick="findId()">
          </div>
        </div>
      </div>

      <div class="footer">
        <%- include('../partials/footer') %>
      </div>
    </div>
  </body>
</html>
